<!-- app/views/events/_event.html.erb -->
<div class="event">
  <h2><%= event.name %></h2>
  <p><strong>Location:</strong> <%= event.location %></p>
  <p><strong>Date:</strong> <%= event.date %></p>
  
  <% if user_signed_in? %>
    <% if event.private && current_user == event.creator %>
      <%= form_with(url: invite_event_path(event), method: :post) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit 'Invite User' %>
      <% end %>
    <% end %>
  <% end %>
</div>
